.top-bar {
    padding: 0.5rem;
}
.top-bar-text {
    font-size: 1.5rem;
}

.header {
    padding: 3.75rem;
}
.header-title {
    margin-bottom: 0.8rem;
    font-size: 3rem;
}
.header-subtitle {
    font-size: 1.25rem;
}

@media(max-width: 767px) {
    html {
        font-size: 12px;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}